@model MouseGeno.Models.Mouse

@{
    ViewData["Title"] = "Create";
}
<div class="container">
    <h2 class="themeFont">Create New Mouse</h2>
    <br />
    <div class="row">
        <form asp-action="Create">
            <div class="col-md-4 container clearBackground">
                <h3>Identifiers</h3>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="EarTag" class="control-label"></label>
                    <input asp-for="EarTag" class="form-control" />
                    <span asp-validation-for="EarTag" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ToeClip" class="control-label"></label>
                    <input asp-for="ToeClip" class="form-control" />
                    <span asp-validation-for="ToeClip" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Sex" class="control-label"></label>
                    <select asp-for="Sex" class="form-control" asp-items="ViewBag.Sex">
                        <option asp-for="Sex" asp-value="M">&#9794; M </option>
                        <option asp-for="Sex" asp-value="F">&#9792; F </option>
                    </select>
                    @*<input asp-for="Sex" class="form-control" />*@
                    <span asp-validation-for="Sex" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Birth" class="control-label"></label>
                    <input asp-for="Birth" class="form-control" />
                    <span asp-validation-for="Birth" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Death" class="control-label"></label>
                    <input asp-for="Death" class="form-control" />
                    <span asp-validation-for="Death" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LineID" class="control-label"></label>
                    <select asp-for="LineID" class="form-control" asp-items="ViewBag.LineID"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>


            </div>
            <div class="col-md-6 col-md-offset-1 clearBackground container">
                <h3>GenoType</h3>
                <hr />
                <div class="row container">
                    
                    <div class="form-group col-md-2 container">
                        <label asp-for="PK1ID" class="control-label"></label>
                        <select asp-for="PK1ID" class="form-control" asp-items="ViewBag.PK1ID"></select>
                    </div>
                    <div class="form-group col-md-2 container">
                        <label asp-for="PK2ID" class="control-label"></label>
                        <select asp-for="PK2ID" class="form-control" asp-items="ViewBag.PK2ID"></select>
                    </div>
                    <div class="form-group col-md-2 container">
                        <label asp-for="SynCre" class="control-lable"></label>
                        <select asp-for="SynCre" class="form-control" asp-items="ViewBag.SynCre">
                            <option asp-for="SynCre" value=true> + </option>
                            <option asp-for="SynCre" value=false> - </option>
                        </select>
                    </div>
                </div>
            </div>

                @*<h4>Parentage</h4>
                    <div class="form-group">
                        <label asp-for="MomID" class="control-label"></label>
                        <input asp-for="MomID" class="form-control" />
                        <span asp-validation-for="MomID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DadID" class="control-label"></label>
                        <input asp-for="DadID" class="form-control" />
                        <span asp-validation-for="DadID" class="text-danger"></span>
                    </div>*@
            

        </form>

    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
